body.bg {
    background-image: url(2.jpg);
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center center;
    overflow: hidden;
}

.container {
    max-width: 500px;
    font-family: sans-serif;
    background: rgba(0, 0, 0, 0.8);
}

form {
    padding: 10px 50px 10px;
    background: transparent;
}

.form-control:focus {
    border-color: #000;
    box-shadow: none;
}

label {
    font-weight: 600;
    color: #999;
}
.alert {
    padding: 1px;
    text-align: center;
    color: black;
}
h1 {
    color: rgb(255, 255, 255);
    text-align: center;
    line-height: 2;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
